<form class="col-3 mx-auto m-5">
  <div class="form-group row">
    <label class="col-6 col-form-label">Nombre de Colonnes</label>
    <input class="col-6 form-control" type="number" [(ngModel)]="pictoCollection.columns" [ngModelOptions]="{standalone: true}" />
  </div>
  <div class="form-group row">
    <label class="col-6 col-form-label">Nombre de Lignes</label>
    <input class="col-6 form-control" type="number" [(ngModel)]="pictoCollection.rows" [ngModelOptions]="{standalone: true}" />
  </div>
  <div class="text-right">
    <button class="btn btn-primary" (click)="generateCollection()">Créer Tableau</button>
  </div>
  <div class="text-right mt-1">
    <input
      style="display: none"
      type="file" (change)="uploadCollection($event)"
      #fileInput>
    <button class="btn btn-primary" (click)="fileInput.click()" >Charger un fichier</button>
  </div>
</form>
